html, body {
  box-sizing: content-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  margin: 0;
}

.white-text {
  color: white;
}

.hide {
  display: none;
}

.disable-pointer-events {
  pointer-events: none;
}

.icon-drop-shadow {
  filter: drop-shadow(0 0 .35rem rgb(0, 0, 0, 1));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 .5em 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 99;
  padding: 3vw;
}

.app_title {
  font-size: 2.75vw;
  font-weight: 800;
  line-height: 2em;
  color: white;
  margin: 0;
  text-decoration: none;
}

.hamburger_wrapper {
  width: 9vw;
  height: 9vw;
  margin: 0 3vw 0 0; 
  cursor: pointer;
}

#hamburger-line1,
#hamburger-line2 {
  background: white;
  height: 10%;
  margin: 30% 0 0 0;
  width: 100%;
  border-radius: .5vw;
}

#hamburger-line2 {
  margin: 2vw 0 0 0;
  width: 60%;
}

.nav-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  transition: background-color .35s ease;
  pointer-events: none;
}

.nav-menu-container.show {
  background-color: rgba(0, 0, 0, .85);
}

#nav-menu {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  width: 70%;
  height: 100%;
  margin: 0 0 0 auto;
  padding: 30vw 0 0 0;
  transform: translateX(100%);
  transition: transform .5s ease;
  opacity: 1;
  pointer-events: all;
}

#nav-menu.show {
  transform: translateX(0);
}

#nav-menu * {
  width: 75%;
  margin: 1rem 0 1rem auto;
  text-decoration: none;
  font-size: 3.5vh;
  font-weight: 600;
  color: black;
}

.footer-wrapper {
  bottom: 0;
  background: #3F3F3F;
  padding: 3em 0;
}

.footer-content {
  color: white;
  text-align: center;
}

main {
  height: 100%;
  min-height: 100vh;
  padding: 9em 0 3em 0;
}

.cardSectionHeading {
  margin: 1em 2em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homescreen-section-title {
  font-weight: 800;
  white-space: nowrap;
}

.scrollArrowContainer {
  width: 100%;
  height: 100%;
  margin: 0 0 0 1em;
  display: flex;
}

.scrollProgressContainer{
  height: 15px;
}

.scrollArrowTail {
  background: black;
  width: 100%;
  height: 3px;
  margin: auto auto auto 0;
  grid-column: 1;
  grid-row: 1;
}

/* .arrowHead {
  background: red;
  width: 5px;
  height: 10px;
  border-radius: 50%;
  margin: 0 0 0 auto;
  display: inline-block;
  transform: translateY(-100%);
} */

.arrowHead {
  height: 20px;
  margin: 0;
  grid-column: 1;
  grid-row: 1;
  margin: 0 0 0 auto;
}


.cardsScrollContainer {
  overflow-x: auto;
}

.cardsContainer {
  display: inline-flex;
  width: auto;
  margin: 0 2em 0 0;
  padding: 1em 0 2em 0;
}

.card {
  display: grid;
  height: 40vw;
  width: 30vw;
  border: 3px solid black;
  box-shadow: -4px 5px 4px rgb(0 0 0 / 0.25);
  border-radius: 12%;
  margin: 0 0 0 2em;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  flex-direction: column;
  grid-template-columns: 65% 20%;
  grid-template-rows: 1fr 1fr auto;
}

.card-text-container {
  grid-column: 1;
  grid-row: 2;
  margin: 0 0 1.2vw 1.2vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.recipe-card-name {
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1em;
  grid-column: 1;
  grid-row: 3;
  font-size: 3.25vw;
}

.recipe-subheader {
  color: white;
  font-size: .65em;
  font-weight: 600;
  line-height: 1em;
  font-size: 1.75vw;
}

.star-icon {
  width: 100%;
  margin: 1.4vw 1.4vw 0 auto;
  grid-column: 2;
  grid-row: 1;
  color: #FFEE51;
  width: 3.5vw;
}

.bell-icon-above-text{
  margin: auto 0 .7vw .2vw;
  width: 1.65vw;
}

.bell-icon {
  grid-column: 2;
  grid-row: 2;
  margin: auto 1.75vw 2vw auto;
  width: 3vw;
}

.end-line {
  content: '';
  width: 3px;
  height: 42vw;
  background: black;
  margin: 0 0 0 2em;
}

/* add recipe page */

.back-arrow-container,
.recipe-page-back-arrow-container {
  margin: 0 0 0 2rem;
  width: 2.5em;
  height: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.back-arrowhead {
  height: 80%;
  transform: rotate(180deg);
  position: absolute;
}

.back-arrow {
  height: 10%;
  border-radius: 8px;
  width: 100%;
  background-color: black;
  position: absolute;
}

.add-recipe-form,
.temp-img-form {
  display: grid;
  width: 100%;
  margin: 1rem auto;
}

.recipe-form-title,
.recipe-title {
  font-size: 7vw;
  font-weight: 500;
  text-align: center;
}

/* .recipe-preview-container {
  background: #F5F5F5;
  box-shadow: -5px 6px 4px rgb(0 0 0 / 0.25);
  width: 88vw;
  height: 50vw;
  border: 4px solid black;
  border-radius: 1.25rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
} */

#image-upload-btn,
.recipe-page-hero {
  box-shadow: -5px 6px 4px rgb(0 0 0 / 0.25);
  width: 88vw;
  height: 50vw;
  border: 4px solid black;
  border-radius: 1.25rem;
  margin: 2rem auto;
  display: grid;
  cursor: pointer;
  padding: 0;
  background-position: center;
  background-size: cover;
}

#preview-gradient {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-image: linear-gradient(12deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0)40% );
  grid-column: 1;
  grid-row: 1;
}

#upload-image-prompt {
  font-size: 1.5rem;
  font-weight: 500;
  color: #C0C0C0;
  grid-column: 1;
  grid-row: 1;
  margin: auto 0;
}

.preview-text-container {
  margin: auto 0 .25rem 0;
  width: 85%;
  grid-column: 1;
  grid-row: 1;
}

#imageInput {
  display: none;
}

#recipe-title-preview {
  text-align: left;
  font-size: 2rem;
  font-weight: 800;
  margin: .5rem .5rem 0 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
}

#recipe-subtitle-preview {
  text-align: left;
  margin: 0 .5rem .5rem 1.5rem;
  font-weight: 600;
}

.title-section,
.instructions-section,
.ingredients-section,
.notes-section,
.extra-info-section,
.tags-section,
.stats-section {
  margin: 0 0 3em 0;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 5px;
}

.section-title {
  grid-column: 1 / span 3;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 800;
}

.section-arrow-container {
  grid-column: 1;
  grid-row: 2 / span 2;
  border-left: 3px solid black;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  position: relative;
  margin: 0 .9rem 0 0;
}

.section-arrowhead {
  transform: rotate(90deg) translateX(.3rem) translateY(.425rem);
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-input-container,
.section-content-container {
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
  margin: .5rem 0 .75rem 0;
}

.add-recipe-form label {
  font-size: 1rem;
  font-weight: 500;
  display: block;
}

.add-recipe-form input,
.add-recipe-form textarea {
  font-family: 'poppins', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  background: #F5F5F5;
  padding: .5rem .75rem;
  width: 92%;
  margin: .2rem auto 1rem auto;
  border: 3px solid black;
  vertical-align: bottom;
}

.has-placeholder::placeholder {
  color: #C0C0C0;
}

.current-ingredient-preview {
  margin: .5rem 0 1.25rem 0;
}

#ingredient-measurement-preview,
.ingredient-measurement-preview {
  font-weight: 700;
  margin: 0 .4em 0 0;
}

#ingredient-name-preview,
.ingredient-name-preview {
  margin: 0 .25em 0 0;
  font-weight: 500;
}

#ingredient-extra-detail-preview, 
.ingredient-extra-detail-preview {
  margin: 0 .25em 0 0;
  color: #7E7E7E;
}

#ingredient-measurement-preview,
#ingredient-name-preview,
#ingredient-extra-detail-preview {
  font-size: 1.25rem;
  color: green;
}

.ingredient-preview-element {
  cursor: pointer;
}

.delete-ingredient-btn {
  margin: 0 0 0 .5rem;
  cursor: pointer;
  color: red;
}

.delete-ingredient-btn:hover {
  font-weight: 600;
}

.duplicate-alert {
  color: red;
  font-weight: 700;
}

#instructions {
  font-size: 1rem;
}

#cooktime-hours,
#cooktime-mins,
#nutrition-score,
#cost-score,
#tastiness-score {
  display: inline-block;
  width: 2em;
  padding: .25rem;
}

.post-input-inline-text {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 2rem 1.25rem .5rem;
}

#tags-container .tag {
  font-size: 1rem;
  padding: .25rem 1rem;
  border-radius: 10vw;
  cursor: pointer;
  display: inline-block;
  width: auto;
}

/* #tags-container {
  background: orange;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} */

#tags-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: .15rem;
}

.tag1 {
  border: 3px solid black;
  background: #F5F5F5;
  padding: .25rem 1rem;
  border-radius: 10vw;
  cursor: pointer;
  margin: .25rem .25rem;
  text-align: center;
}

.two-column-tag {
  grid-column: span 2;
}

.three-column-tag {
  
}

#tags-container .tag:hover,
.tag1:hover {
  background: #C0C0C0;
}

.selected,
.selected:hover {
  background: #E2FF6E;
}

.add-recipe-form,
.temp-img-form {
  display: grid;
  width: 90%;
  margin: 2rem auto;
}

.tempDatabaseView {
  width: 90%;
  margin: 0 auto;
}

.tempImgPreview {
  width: 10vw;
}

.submit-recipe-btn,
.add-button {
  padding: 1rem 0;
  width: 50%;
  margin: 1rem auto;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
  background: #64EB79;
  border-radius: 10vw;
  border: 3px solid black;
}

.add-button {
  display: inline-block;
  width: auto;
  padding: .25rem 1.5rem;
  margin: 0 0;
  font-weight: 600;
}

.submit-recipe-btn:hover,
.add-button:hover {
  background: #22F043;
}

.error {
  color: red;
}

#honeyp {
  display: none;
}

.success-el {
  text-align: center;
  color: green;
  font-size: 2em;
  font-weight: 800;
}

/* full recipe page */

.recipe-page section {
  width: 90%;
  margin: 3em auto;
}

#back-text  {
  margin: 0 0 0 3.5em;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
