body {
  margin: 0;
  font-family: 'poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  box-shadow: 0 0 .5em 0;
}

.app_title {
  font-weight: 800;
  line-height: 1em;
  color: white;
  margin: 0;
}

.hamburger_wrapper {
  width: 7vw;
  height: 7vw;
  background: white;
  margin: 0 .5em 0 0; 
}